<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/estilos.css">
    <title>Analitica de datos</title>
</head>

<body>
    <section class="form-section1">
        <h1>ANALITICA DE DATOS</h1>        
        <nav id="landing_navbar" name="landing_navbar">
            <section class="form-section2">
                <br>
                <img id="navbar_logo" name="navbar_logo" src="utils/logo.jpg" width="200"><br><br>
                <button id="btn_irRegistro" name="btn_irRegistro">
                    <a href="registro.html" id="link_registro" name="link_registro">Registrarse</a>
                </button>
            </section>
        </nav>  
    </section>  
</body>

</html>